.footerContainer {
    font-size: 14px;
    font-weight: bolder;
    position: fixed;
    width:300px;
    height:300px;
    bottom:-250px;
    right:25%;
    left:50%;
    margin-left:-150px;
  }
  
  
a:link { text-decoration: none; ; color:#FFF }
a:visited { text-decoration: none; color:#FFF }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }