.weatherDisplay {
    padding: 10px;
    color: black;;
    max-width: 680px; 
    margin: 50px auto;
    background-color: white;
    align-self: center;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px black;
}

.cityName {
    font-size: 44px;
    font-weight: bold;
}

.weatherDescription {
    font-weight: bold;
    margin-bottom: 10px;
}

.timeStamp {
    font-size: 14px;
    margin: 10px;
}

.minMaxTemps {
    font-size: 14px;
}

.currentTemp {
    margin: 16px;
    font-weight: bold;
    font-size: 24px;
}
